@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@500&display=swap');


.App {
    /* background-color: #A6BB8D; */
    margin: 0 !important;
    width: 100%;
    /* height: 100vh; */
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}

.App h1.logo {

    font-family: 'Noto Sans JP';
    font-size: 2.2rem;
    align-self: flex-start;
    margin-left: 10vw;
}