.search-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    font-family: 'Noto Sans JP';
}

input[type="text"] {
    width: 100%;
    padding: 8px 20px;
    text-align: center;
    margin-right: 8px;
    font-size: 1.3rem;
    border: none;
    background-color: #EAE7B1;
    color: white;
    border-radius: 20px;
    box-sizing: border-box;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.15);

}

button {
    text-align: center;
    padding: 8px 20px;
    font-size: 1.3rem;
    border: none;
    border-radius: 20px;
    background-color: #3C6255;
    color: white;
    cursor: pointer;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.15);
    margin-left: 10px;
}

button:hover {
    background-color: #3e8e41;
}